<div class="not-found">
  <div class="container">
    <h1>{{{articleBody.404-header}}}</h1>
    <p>{{{articleBody.404-reason}}}</p>
    <p>{{{coalesce articleBody.404-text articleBody.404-next-actions}}}</p>
  </div>
</div>