{{#if significantLink}}
  <div class="bg-secondary py-5 links text-white">
    <div class="container">
      {{#if (get (append 'articleBody.links-' (append moduleOffset '-title-1')) this)}}
        <h3>
          {{#articleBody 'links'}}
            {{#articleBody 'links-title'}}
              {{articleBody.links-title}}
            {{/articleBody}}
          {{/articleBody}}
        </h3>
      {{/if}}
      <div class="row">
        {{#combineLinks significantLink 'links'}}
          {{#each (sortBy this "name")}}
            <div class="col-xs-12 col-sm-6 col-md-3 py-2">
              <a class="text-light" href="{{url}}">
                {{name}}
              </a>
            </div>
          {{/each}}
        {{/combineLinks}}
      </div>
    </div>
  </div>
{{/if}}