.carousel {
	position: relative;
	display: block;
	box-sizing: border-box;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	-ms-touch-action: pan-y;
	touch-action: pan-y;
	-webkit-tap-highlight-color: transparent;
	margin-bottom: 40px;
	margin-left: -15px;
	margin-right: -15px;
	
	@include media('>=desktop') {
		margin-bottom: 60px;
	}

	.slide {
		background-color: #ebebeb;
		padding: 20px 15px 73px;
		font-size: 13px;
		line-height: 1.23;
		
		@include media('>=desktop') {
			font-size: 15px;
			padding: 43px 23px 151px;
		}

		p {
			font-size: 15px;
		}

		ul {

			li {
				margin-bottom: 15px;
				font-size: 13px;
				font-weight: 300;
				line-height: rem-calc(22px);

				@include media('>=desktop') {
					font-size: 14px;
				}

				&:last-child {
					margin-bottom: 0;
				}
			}
		}
	}
}

.slick-list {
	position: relative;
	overflow: hidden;
	display: block;
	margin: 0;
	padding: 0;
	&:focus {
		outline: none;
	}
	&.dragging {
		cursor: pointer;
		cursor: hand;
	}
}

.carousel .slick-track,
.carousel .slick-list {
	-webkit-transform: translate3d(0, 0, 0);
	-moz-transform: translate3d(0, 0, 0);
	-ms-transform: translate3d(0, 0, 0);
	-o-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
}

.slick-track {
	position: relative;
	left: 0;
	top: 0;
	display: block;
	&:before,
	&:after {
		content: "";
		display: table;
	}
	&:after {
		clear: both;
	}
	.slick-loading & {
		visibility: hidden;
	}
}

.slick-slide {
	float: left;
	height: 100%;
	min-height: 1px;
	display: none;
	[dir="rtl"] & {
		float: right;
	}
	img {
		display: block;
	}
	&.slick-loading img {
		display: none;
	}
	&.dragging img {
		pointer-events: none;
	}
	.slick-initialized & {
		display: block;
	}
	.slick-loading & {
		visibility: hidden;
	}
	.slick-vertical & {
		display: block;
		height: auto;
		border: 1px solid transparent;
	}
}

.slick-arrow.slick-hidden {
	display: none;
}

.slick-arrow {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	color: $red;
	font-size: 24px;
	margin: 0 !important;
	padding: 0 !important;
	border: none;
	background: transparent;

	&.slick-prev {
		left: -32px;
	}
	
	&.slick-next {
		right: -32px;
	}
}

.tab-holder {
	position: relative;

	@include media('<tablet') {
		padding: 0 30px;
	}

	@include media('>=tablet') {
		padding-left: 30px;
	}

	.dropdown-toggle {
		padding: 16px 14px 13px;
		font-size: 15px;
		height: auto;
		font-weight: 900;

		&.selected {
			border: 1px solid #878785 !important;
			background: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 320 512'%3e%3cpath fill='%23ffffff' d='M143 352.3L7 216.3c-9.4-9.4-9.4-24.6 0-33.9l22.6-22.6c9.4-9.4 24.6-9.4 33.9 0l96.4 96.4 96.4-96.4c9.4-9.4 24.6-9.4 33.9 0l22.6 22.6c9.4 9.4 9.4 24.6 0 33.9l-136 136c-9.2 9.4-24.4 9.4-33.8 0z'/%3e%3c/svg%3e") no-repeat right 1rem center/20px 36px;
			background-color: #878785;
			color: $white;
		}
		
		&:disabled,
		&.disabled {
			color: #878785;
			background-color: #f8f8f8;
		}

		&:after {
			display: none;
		}

		&[aria-expanded="true"] {
			color: $white;
			background: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 320 512'%3e%3cpath fill='%23ffffff' d='M143 352.3L7 216.3c-9.4-9.4-9.4-24.6 0-33.9l22.6-22.6c9.4-9.4 24.6-9.4 33.9 0l96.4 96.4 96.4-96.4c9.4-9.4 24.6-9.4 33.9 0l22.6 22.6c9.4 9.4 9.4 24.6 0 33.9l-136 136c-9.2 9.4-24.4 9.4-33.8 0z'/%3e%3c/svg%3e") no-repeat right 1rem center/20px 36px;
			background-color: #878785;
		}
	}
}

.dropdown-menu {
	display: none;
	width: 100%;
	border-radius: 0 !important;
	border-color: $red !important;
	padding: 0;
	max-height: 45vh;
	overflow-y: auto;

	.nav-item {
		border-bottom: 1px solid $red;
		padding-left: 0;
		padding-right: 0;
		margin-bottom: 0;

		&:last-child {
			border-bottom: none;
		}

		&:hover {
			background-color: #878785;

			.nav-link {
				color: $white;
			}
		}
	}

	.nav-link {
		color: $red;
		font-size: 15px;
		font-weight: 900;
		background: transparent !important;
		border: none !important;
	}
}

.button-absolute {

	@include media('>=tablet') {
		position: absolute;
		top: 0;
		left: 323px;
		max-width: 290px;
	}

	@include media('>=desktop') {
		left: 323px;
	}

	@include media('>=widedesktop') {
		left: 30%;
	}
}

.dropdown {
	padding: 0;

	@include media('>=tablet') {
		max-width: 290px;
	}

	.nav-tabs,
	.dropdown .dropdown-menu {
		display: none;
	}
}

.dropdown.show {

	.nav-tabs,
	.dropdown.show .dropdown-menu {
		display: block;
	}
}

.nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
	color: inherit;
}

.nav-tabs {
	padding: 0;
}