.counter-list {
  @extend %listreset;
  counter-reset: counter;
  padding-left: 20px;
  
  li {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 40px;

    &:before {
      counter-increment: counter;
      content: counters(counter," ") " ";
      background-color: #4a4a4a;
      border-radius: 50%;
      color: $white;
      font-size: 24px;
      font-weight: 800;
      width: 40px;
      height: 40px;
      display: flex;
      flex-shrink: 0;
      align-items: center;
      justify-content: center;
      margin-right: 15px;

      @include media('>=tablet') {
        width: 50px;
        height: 50px;
      }
    }
  }
}