.go-to-shop {
	color: $white;
	text-align: center;
	margin-bottom: 40px;
	background-image: url(/assets/dist/images/body-cta-bg.jpg);
	background-position: 50% 50%;
	background-repeat: no-repeat;
	background-size: cover;
	padding: 30px 20px;

	@include media('>=tablet') {
		padding: 40px 35px;
		text-align: left;
		margin-left: -15px;
		margin-right: -15px;
	}

	@include media ('>=desktop') {
		margin-bottom: 50px;
		padding: 37px 35px;
	}

	@include media ('>=widescreen') {
		margin-bottom: 60px;
		margin-left: 0;
		margin-right: 0;
		padding: 37px 50px;
	}

	p {
		font-size: 18px;
		line-height: 1.33;

		@include media ('>=tablet') {
			margin: 0;
		}
	}

	h2 {
		color: $white;
	}

	.btn-custom {
		font-size: 19px;
		line-height: 1.26;
		padding-top: 12px;
		padding-bottom: 12px;
	}
}