{{>head}}
{{>header}}
<main>
  {{>hero-secondary}}
  <div class="table-fill">
    {{>table moduleOffset="1"}}
  </div>
  {{>content moduleOffset="1"}}
  {{>tires}}
  {{>ordered-list moduleOffset="1"}}
  {{>body-cta}}
</main>
{{>footer}}