{{>head}}
{{>header}}
<main>
  {{>hero-secondary}}
  {{>list-group moduleOffset="1"}}
  {{>list-group-links moduleOffset="2"}}
  {{>list-group-links moduleOffset="3"}}
  {{>content moduleOffset="1"}}
</main>
{{>footer}}